<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="{BJ_QMXK_ROOT}/style/new/foundation.css?v={BJ_QMXK_VERSION}">
	<link href="{BJ_QMXK_ROOT}/recouse/css/bottom.css?x={BJ_QMXK_VERSION}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{BJ_QMXK_ROOT}/style/new/common-v4.0.css?v={BJ_QMXK_VERSION}">
	<script src="{BJ_QMXK_ROOT}/style/new/jquery.js?v={BJ_QMXK_VERSION}"></script>
    <script src="{BJ_QMXK_ROOT}/style/new/func.js?v={BJ_QMXK_VERSION}"></script>
  <style>

.add-class{background:url("{BJ_QMXK_ROOT}/style/new/icon-add.png") no-repeat;width:20px;height:20px;display:inline-block;vertical-align:middle;margin:8px;}
	.foot{width:100%;min-width:300px;margin-top:10px;margin-bottom:30px;padding:10px 0;color:#555;text-align:center;}
.foot a{color:#555;margin:0 3px;}  
      .wx_loading{position:fixed;top:0;left:0;bottom:0;right:0;z-index:90;background-color:rgba(0,0,0,0);font-family:Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;line-height:1.5}.wx_loading_inner{text-align:center;background-color:rgba(0,0,0,0.5);color:#fff;position:fixed;top:50%;left:50%;margin-left:-70px;margin-top:-48px;width:140px;border-radius:6px;font-size:14px;padding:58px 0 10px 0}.wx_loading_icon{position:absolute;top:15px;left:50%;margin-left:-16px;width:24px;height:24px;border:2px solid #fff;border-radius:24px;-webkit-animation:gif 1s infinite linear;animation:gif 1s infinite linear;clip:rect(0 auto 12px 0)}@keyframes gif{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes gif{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
.header-r{margin:0px;}
.icon-level-p1{width:60px;height:60px;}
        	.distributor-infor li{line-height:24px;}
.distributor-infor li{font-weight:bold;}
</style>
</head>

<body class="body-gray">
    <div class="wx_loading" id="wxloading">
        <div class="wx_loading_inner">
            <i class="wx_loading_icon"></i>
            请求加载中...
        </div>
   </div>

    <div class="panel memberhead" style="height:auto">
        <div class="header-l" >
        	<img class="icon-level-p1" src="{if empty($myheadimg['avatar'])}{BJ_QMXK_ROOT}/style/images/yh.png{else}{$myheadimg['avatar']}{/if}"/>
        	<div style="text-align:center;margin-top:10px">
				{loop $medalList  $medal}
					<span><a href=""  title="{$medal['medal_name']}"><IMG src="./resource/attachment/{$medal['avatar']}" style="width:20px;"/></a></span>
				{/loop}
			</div>
        </div>
		        <div class="header-r">
            <ul class="distributor-infor">
                
                <li><span class="distributor-infor-label">昵称：</span><span class="distributor-infor-c">{$profile['realname']}</span></li>
                
                <li><span class="distributor-infor-label">等级：</span><span class="distributor-infor-c">{$medal_name}(<a class="txt-link"href="{php echo $this->createMobileUrl('list')}" >  {if $profile['flag']==0}{$tmsg}</a> {else}分享微店赚佣金{/if}</a>)</span>
                </li>
<!-- 				<li><span class="distributor-infor-label">优惠等级：</span><span class="distributor-infor-c"><a class="txt-link"href="{php echo $this->createMobileUrl('cz')}" >  {if $userx['levelname']}{$userx['levelname']}</a> {else}充值享折扣{/if}</a></span> -->
<!--                 </li> -->
<!--                 <li><span class="distributor-infor-label">关注：</span><span class="distributor-infor-c"> -->
<!--                    {php echo date('Y-m-d', $profile['createtime'])}</span> -->
                    

<!--                 </li> -->
					<li><span class="distributor-infor-label">会员编号：</span><span class="distributor-infor-c">QXCF{$profile["id"]}</span></li>
                	{if CUSTOMER_CODE=='001HEML'&&!empty($shareprofile['realname'])}
              <li><span class="distributor-infor-label">推荐人：</span><span class="distributor-infor-c">{$shareprofile['realname']}</span></li>
               	{/if} 
                
            </ul>

        </div>
    </div>
    </div>
    <!--head end-->
    <!--count begin-->
    <div class="row count">
				<div class="small-4 large-3 columns">
<!-- 						不可支配余额: 如 贡献的发展基金 -->
						 <a href="#" class="count-a"><p class="count-dis-mony">{$myCredit['credit4']}</p> <span class="count-title">{$cfg["alias1"]}</span></a>
<!-- 						 自由余额 -->
						  <a href="#" class="count-a"><p class="count-dis-mony">{$myCredit['credit2']}</p> <span class="count-title">{$cfg["alias4"]}</span></a>
				</div>
				<div class="small-4 large-3 columns mid">
<!-- 						购物余额 -->
						 <a href="#" class="count-a"><p class="count-dis-mony">{$myCredit['credit3']}</p> <span class="count-title">{$cfg["alias2"]}</span></a>
<!-- 						 累计收入	 -->
						 <a href="#" class="count-a"><p class="count-dis-mony">{$income}</p> <span class="count-title">{$cfg["alias5"]}</span></a>
				</div>
				<div class="small-4 large-3 columns">
				<!-- 待确定积分 -->
				 <a href="#" class="count-a"><p class="count-dis-mony">{$unidentified}</p> <span class="count-title">待确定积分</span></a>
<!-- 					团队销售额 -->
						 <a href="#" class="count-a"><p class="count-dis-mony">{$teamMoney}</p> <span class="count-title">{$cfg["alias3"]}</span></a>
				</div>
    </div>
    <!--count end-->
    	{if CUSTOMER_CODE!='001HEML'&&!empty($shareprofile['realname'])}
        <div class="text-center" style=" margin-top:5px;margin-bottom:5px; font-size:14px;">您是由【{$shareprofile['realname']}】推荐
        </div>
            	{/if} 
            	
		  	{if $profile['flag']==1}
	   <div class="panel member-nav">
        <ul class="side-nav">
       {if $profile['flag']==1}
				 <li><a href="{php echo $this->createMobileUrl('CreateQrCode',array('mid'=>$profile['id']))}"><i class="icon-qrcode"></i><span class="text">我的二维码</span><i class="arrow"></i></a></li>
       {/if} 
     
<!--            <li id="drpOrder"><a href="{php echo $this->createMobileUrl('cz')}"><i class="icon-personal"></i> -->
<!--            <span class="text">充值</span><i class="arrow"></i> -->
<!-- 		   {if $userx['discount']} <span class="tip-number"> 会员折扣率:{$userx['discount']}%</span> -->
<!-- 		   {else} -->
<!--   <span class="tip-number"> 折扣优惠</span> -->
<!--            {/if} -->
<!--            </a></li> -->
			
			<li>
                <a id="disstroe1" href="javascript:void(0)"><i class="icon-set"></i><span class="text">我的推广</span><i class="arrow"></i> <span class="tip-number">{php echo ($count1_1+$count2_1+$count3_1+$count1)}</span>
                    
                </a>
                <div id="disstroe-sub1" class="member-nav-sub" style="display: none;">
                    <ul class="member-nav-sub-ul">
                         <li class="member-nav-sub-li"  id="shop2"><a href="{php echo $this->createMobileUrl('fansorder')}"><span class="text">推广订单</span><i class="arrow"></i></a></li>
                            
                        <li class="member-nav-sub-li" id="subShop1"><a href="{php echo $this->createMobileUrl('myfansDetail',array('level'=>1,'flag'=>1))}"><span class="text">一分店</span><i class="arrow"></i> <span class="tip-number">{$count1_1}</span></a></li>
                        <li class="member-nav-sub-li" id="subShop2"><a href="{php echo $this->createMobileUrl('myfansDetail',array('level'=>2,'flag'=>1))}"><span class="text">二分店</span><i class="arrow"></i> <span class="tip-number">{$count2_1}</span></a></li>
                        <li class="member-nav-sub-li" id="subShop3"><a href="{php echo $this->createMobileUrl('myfansDetail',array('level'=>3,'flag'=>1))}"><span class="text">三分店</span><i class="arrow"></i> <span class="tip-number">{$count3_1}</span></a></li>
                            
                       <li class="member-nav-sub-li" id="subShop4"><a href="{php echo $this->createMobileUrl('myfansDetail',array('level'=>1,'flag'=>0))}"><span class="text">我的粉丝</span><i class="arrow"></i><span class="tip-number">{$count1}</span></a></li>
                    </ul>
                </div>
            </li>
			  {if $profile['isssalesman']==1}<li><a href="{php echo $this->createMobileUrl('profit')}"><i class="icon-commission"></i><span class="text">总代工资结算</span><i class="arrow"></i></a></li>{/if}
              <li class="last"><a href="{php echo $this->createMobileUrl('commission')}"><i class="icon-commission"></i><span class="text">积分提现</span><i class="arrow"></i></a></li>
<!--                <li class="last"><a href="{php echo $this->createMobileUrl('medal')}"><i class="icon-commission"></i><span class="text">我的勋章</span><i class="arrow"></i></a></li> -->
			
        </ul>
    </div>
	
	
	{/if}
	

    <div class="panel member-nav">
        <ul class="side-nav">
         <li><a href="{php echo $this->createMobileUrl('register', array('id'=>$profile['id'], 'opp'=>'complate'))}"><i class="icon-ratio"></i><span class="text">资料修改</span><i class="arrow"></i></a></li>
			{if $cfg["childrenAccount"]==2}
			<li ><a href="{php echo $this->createMobileUrl('children')}"><i class="add-class"></i><span class="text">我的账号</span><i class="arrow"></i>
			{/if}
		<li ><a href="{php echo $this->createMobileUrl('transfer')}"><i class="icon-account"></i><span class="text">自由积分转账</span><i class="arrow"></i>
			<li ><a href="{php echo $this->createMobileUrl('purchaseHistory')}"><i class="icon-account"></i><span class="text">个人消费</span><i class="arrow"> <span class="tip-number">¥{$totalxiaofeiMoney}</span></i>
			  <!--<li id="brokerage"><a href="{php echo $this->createMobileUrl('award')}"><i class="icon-personal"></i><span class="text">积分兑换</span><i class="arrow"></i>-->
<!--              <li><a href="{php echo $this->createMobileUrl('phb')}"><i class="icon-card"></i><span class="text">销售排行榜</span><i class="arrow"></i> </li></a> -->
        	 <li><a href="{php echo $this->createMobileUrl('rule')}"><i class="icon-client"></i><span class="text">帮助说明</span><i class="arrow"></i></a></li>

            </a></li>
        </ul>
    </div>

    <!--side nav end-->
	
   
 <!--bottom begin
    <div class="h50"></div>-->
  {template 'footer'}
   <!--bottom end-->
	
<div class="wx_nav"><a href="{php echo $this->createMobileUrl('list')}" data-href="###" ptag="37080.1.1" class="nav_index on">首页</a><a href="{php echo $this->createMobileUrl('listCategory')}"  ptag="37080.1.2" class="nav_search" style="display:">分类</a><a href="{php echo $this->createMobileUrl('mycart')}"  ptag="37080.1.3" class="nav_shopcart">购物车</a><a href="{php echo $this->createMobileUrl('myorder')}"  ptag="37080.1.4" class="nav_shopping_guide">我的订单</a><a href="{php echo $this->createMobileUrl('fansindex')}"  ptag="37080.1.4" class="nav_me">创客中心</a></div>

</body>
<script src="{BJ_QMXK_ROOT}/style/js/zepto.min.js"></script>
<script>
function report(){
	if('{$credit}'!='-1'){
		return;
	}
	$.ajax({
		type: "POST",
		url: "{php echo $this->createMobileurl('home',array('op'=>'report'))}",
		dataType: "text",
		
		success: function (d) {
			if(d!=0){
				window.document.getElementById('wxqd').innerHTML = '获得'+d+'分';
				var credit = parseInt(window.document.getElementById('mygold').innerHTML);
				var credit1 = credit + parseInt(d);
				window.document.getElementById('mygold').innerHTML = credit1;
			}
		},
		
		error: function (xml, text, thrown){
			TopBox.alert("出错啦!");
		}
	});
}

</script>

{template 'jsweixin'}
 <script>
   document.getElementById('wxloading').style.display='none';
   	</script>
</html>
