<!DOCTYPE html>
<html{if $initNG} ng-app{/if}>
<head>
	<title>我的订单</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- Mobile Devices Support @begin -->
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<!-- Mobile Devices Support @end -->
	<script type="text/javascript" src="./resource/script/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="./resource/script/common.js?x={BJ_QMXK_VERSION}"></script>
	<link href="{BJ_QMXK_ROOT}/recouse/css/bottom.css?x={BJ_QMXK_VERSION}" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="./themes/mobile/default/style/bootstrap.css?x={BJ_QMXK_VERSION}">
	<script type="text/javascript" src="./themes/mobile/default/script/bootstrap.min.js?x={BJ_QMXK_VERSION}"></script>

{if $initNG}<script type="text/javascript" src="./resource/script/angular.min.js?x={BJ_QMXK_VERSION}"></script>{/if}
	<link type="text/css" rel="stylesheet" href="./resource/style/font-awesome.min.css?x={BJ_QMXK_VERSION}" />
	<link type="text/css" rel="stylesheet" href="./themes/mobile/default/style/common.mobile.css?x={BJ_QMXK_VERSION}">
	<script type="text/javascript" src="./resource/script/cascade.js?x={BJ_QMXK_VERSION}"></script>
	<script type="text/javascript" src="./themes/mobile/default/script/jquery.touchwipe.js?x={BJ_QMXK_VERSION}"></script>
	<script type="text/javascript" src="./themes/mobile/default/script/swipe.js?x={BJ_QMXK_VERSION}"></script>
	
</head>

<body style="padding-top:0px;">
{if empty($main_off)}<div class="main">{/if}
<style type='text/css'>
    .sel { background:#e9342a; color:#fff;}
    .nosel { background:#fff;color:#000}
</style>
<link type="text/css" rel="stylesheet" href="{BJ_QMXK_ROOT}/images/style.css">
 <div class="myoder img-rounded" style='color:#aaa;padding:5px;'>
<div>姓名：{$fans['realname']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 电话：{$fans['mobile']}</div>
<!-- <div>余额：{php echo sprintf('%.2f', $fans['credit2']);} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 积分：{$fans['credit1']}</div> -->
</div>
 <div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:2px;'>
     <div style='float:left;height:30px;margin:auto;width:100%;'>
       <div {if $status ==4}class='sel'{else}class="nosel"{/if} style='border-top-left-radius: 5px;border-bottom-left-radius:5px;border:1px solid #e9342a;text-align: center;float:left;width:20%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>4))}'">
        全部
    </div>
    <div {if $status==0}class='sel'{else}class="nosel"{/if} style='border:1px solid #e9342a;text-align: center;float:left;width:20%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>0))}'">
        待支付
    </div>
<!--     <div {if $status==1}class='sel'{else}class="nosel"{/if} style='border:1px solid #e9342a;text-align: center;float:left;width:20%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>1))}'"> -->
<!--         待发货 -->
<!--     </div> -->
    <div {if  $status==2}class='sel'{else}class="nosel"{/if} style='border:1px solid #e9342a;margin-left:-1px;float:left;width:20%;text-align: center;' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>2))}'">
        待收货
    </div>
    <div {if $status==3}class='sel'{else}class="nosel"{/if} style='border:1px solid #e9342a;margin-left:-1px;float:left;width:20%;text-align: center;' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>3))}'">
        已完成
    </div>
    <div {if $status ==-1}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #e9342a;float:left;width:20%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>-1))}'">
        退款(货)
    </div>
   
</div>
     <a style='float:right;' href="{php echo $this->createMobileUrl('address',array('from'=>'confirm'))}">管理收货地址</a>
</div>



{if count($list)<=0}
<div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:30px;'>
    您暂时没有任何订单!
</div>
{/if}
<div style='margin-bottom:40px;'>
{loop $list $item}
<div class="myoder img-rounded">
	<div class="myoder-hd">
		<span class="pull-left">订单编号：{$item['ordersn']}{if ($item['special'])}（特殊订单）{/if}</span>
		<span class="pull-right">{php echo date('Y-m-d H:i', $item['createtime'])}
        {if $item['paytype'] == 3}
			{if $item['status'] == -1}
			<span class="text-muted">订单取消</span>
			{elseif $item['status'] < 3}
			<span class="text-danger">货到付款 / 未付款</span>
			{else}
			<span class="text-success">已完成</span>
			{/if}
		{else}
			{if $item['status'] == -1}
			<span class="text-muted">订单取消</span>
			{elseif $item['status'] == 0}
			<span class="text-danger">未付款</span>
			{elseif $item['status'] == 1}
			<span class="text-warning">已付款</span>
			{elseif $item['status'] == 2}
			<span class="text-warning">已发货</span>
			{elseif $item['status'] == 3}
			<span class="text-warning">已完成</span>
			{elseif $item['status'] == -2}
			<span class="text-success">退款中</span>
			{elseif $item['status'] == -4}
			<span class="text-success">退货中</span>
			{elseif $item['status'] == -5}
			<span class="text-success">已退货</span>
			{elseif $item['status'] == -6}
			<span class="text-success">已退款</span>
			{/if}
		{/if}
                </span>
	</div>
                  {if count($item['goods'])==1}
	{loop $item['goods'] $goods}
	<div class="myoder-detail">
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $goods['id']))}"><img src="{$_W['attachurl']}{$goods['thumb']}" width="160"></a>
		<div class="pull-left">
			<div class="name"><a href="{php echo $this->createMobileUrl('detail', array('id' => $goods['id']))}">{$goods['title']}</a></div>
			<div class="price">
				<span>{$goods['marketprice']} 元{if $goods['unit']} / {$goods['unit']}{/if}</span>
				<span class="num">{$item['total'][$goods['id']]['total']}{if $goods['unit']} {$goods['unit']}{/if}</span>
			</div>
		</div>
	</div>
	{/loop}
        {else}
       
	<div class="myoder-detail">
             {loop $item['goods'] $goods}
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $goods['id']))}"><img src="{$_W['attachurl']}{$goods['thumb']}" width="160"></a>
                {/loop}
	</div>
	
        {/if}
	 
	<div class="myoder-total">
	{if $item['status'] == 0}
      {php $item['discount'] = $this->getDiscountByOrder($item['id'], $item['from_user']);}
    {/if}
		<span>共计：<span class="false"> {if $item['dispatchprice']<=0}
                        {$item['price']} 元 {if $item['discount'] > 0} (折扣 {$item['discount']} 元){/if}
                        {else}
                        {$item['price']} 元 (运费 {$item['dispatchprice']} 元 {if $item['discount'] > 0}, 折扣 {$item['discount']} 元{/if})
                        {/if}</span></span>
	 	<a href="{php echo $this->createMobileUrl('myorder', array('orderid' => $item['id'], 'op' => 'detail'))}" class="btn btn-success pull-right btn-sm" >订单详情</a>
		 
	</div>
</div>
{/loop}</div>



<div class="wx_nav"><a href="{php echo $this->createMobileUrl('list')}" data-href="###" ptag="37080.1.1" class="nav_index on">首页</a><a href="{php echo $this->createMobileUrl('listCategory')}"  ptag="37080.1.2" class="nav_search" style="display:">分类</a><a href="{php echo $this->createMobileUrl('mycart')}"  ptag="37080.1.3" class="nav_shopcart">购物车</a><a href="{php echo $this->createMobileUrl('myorder')}"  ptag="37080.1.4" class="nav_shopping_guide">我的订单</a><a href="{php echo $this->createMobileUrl('fansindex')}"  ptag="37080.1.4" class="nav_me">创客中心</a></div>

<script src="{BJ_QMXK_ROOT}/recouse/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript">
Zepto(function($){
   var $nav = $('.global-nav'), $btnLogo = $('.global-nav__operate-wrap');
   //点击箭头，显示隐藏导航
   $btnLogo.on('click',function(){
     if($btnLogo.parent().hasClass('global-nav--current')){
       navHide();
     }else{
       navShow();
     }
   });
   var navShow = function(){
     $nav.addClass('global-nav--current');
   }
   var navHide = function(){
     $nav.removeClass('global-nav--current');
   }
   
   $(window).on("scroll", function() {
		if($nav.hasClass('global-nav--current')){
			navHide();
		}
	});
})
function get_search_box(){
	try{
		document.getElementById('get_search_box').click();
	}catch(err){
		document.getElementById('keywordfoot').focus();
 	}
}
</script>
 {template 'footer'}

{template 'jsweixin'}


