<!doctype html>
<html>
<head>
<title>{if $opp=='complate'}完善资料{else}注册{/if}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{BJ_QMXK_ROOT}/style/css/style.css?r={php echo time()}"/>
<link href="{BJ_QMXK_ROOT}/recouse/css/bottom.css?x={BJ_QMXK_VERSION}" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta name="mobileOptimized" content="width" />
<meta name="handheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<script src="{BJ_QMXK_ROOT}/recouse/js/process.js"></script>
<style>
.kuang{background-color:#FFF;border-radius:10px;}
.kuang .inp{ margin:10px 10px 0px 10px}
.kuang p input{ height: 35px;background: #fff; box-shadow: 0 1px 1px rgba(0,0,0,.1);text-indent: 8px;padding: 20px 0;font-size: 14px;line-height: 35px; -webkit-appearance: none; margin-bottom:10px}
.kuang p select{width: 35%;line-height: 35px; height: 35px;border-radius: 10px;}
.kuang p select option{line-height: 44px;}
.kuang .tit{line-height:35px; background-color:#ddd;border-top-right-radius:10px; border-top-left-radius:10px; padding-left:10px}
.kuang  input[type="text"],.kuang input[type="tel"], .kuang textarea, .kuang select {
color: #888;
width:90%;
padding: 0px 0px 0px 5px;
border: 1px solid #CBCFD2;
background: #FBFBFB;
outline: 0;
-webkit-box-shadow:inset 0px 1px 6px #EFF2F5;
box-shadow: inset 0px 1px 6px #EFF2F5;
font: 200 12px/25px Arial, Helvetica, sans-serif;
height: 35px;
line-height:25px;
margin: 2px 6px 16px 0px;
}

.kuang  textarea{
height:100px;
padding: 5px 0px 0px 5px;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
</style>
</head>
<body>
	
<section class="main animated fadeInDown">
	<div class="main-box">
		
		<div class="kuang">
        <p class="tit">基本信息</p>
        <p class="inp">姓名：<font color="#f00">(*)</font><input type="text" id="realname" placeholder="姓名" value="{$profile['realname']}"/></p>
        <p class="inp">手机：<font color="#f00">(*)</font><input type="tel" id="mobile" placeholder="手机" value="{$profile['mobile']}"/></p>
        <p class="inp">QQ：<input type="tel" id="qq" placeholder="QQ号码" value="{$profile['qq']}"/></p>
		</div>
        {if $opp=='complate'}
        <div class="kuang">
        <p class="tit">银行卡信息</p>
         <p class="inp">收款人姓名：<input type="text" id="bankperson" placeholder="收款人姓名" value="{$profile['bankperson']}"/></p>
        <p class="inp">银行卡号：<input type="tel" id="bankcard" placeholder="银行卡号" value="{$profile['bankcard']}"/></p>
        <p class="inp">银行名称：<input type="text" id="banktype" placeholder="银行名称" value="{$profile['banktype']}"/></p>
        <p class="inp">收款银行地址：<br/>
            <select name="province" id="province"><option selected>{$profile['bankprovince']}</option></select>
            <select name="city" id="city"><option selected>{$profile['bankcity']}</option></select>
            <select name="county" id="county"><option selected>{$profile['bankcounty']}</option></select>
        </p>
        <p class="inp">收款银行所属支行：<input type="text" id="bankbelong" placeholder="收款银行所属支行" value="{$profile['bankbelong']}"/></p>
        </div>
        <div class="kuang">
        <p class="tit">其他账户信息</p>
        <p class="inp">支付宝号：<input type="text" id="alipay" placeholder="支付宝号" value="{$profile['alipay']}"/></p>
        <p class="inp">微信号：<input type="text" id="wxhao" placeholder="微信号码" value="{$profile['wxhao']}"/></p>
        </div>
        {/if}
		<!--<p class="rb-row"><input type="text" id="realname" placeholder="姓名" class="input" value="{$profile['realname']}"/></p>
		<p class="rb-row"><input type="tel" id="mobile" placeholder="手机" class="input" value="{$profile['mobile']}"/></p>
		
		{if $opp=='complate'}
		<p class="rb-row"><input type="text" id="banktype" placeholder="银行名称" class="input" value="{$profile['banktype']}"/></p>
		<p class="rb-row"><input type="tel" id="bankcard" placeholder="银行卡号" class="input" value="{$profile['bankcard']}"/></p>
		<p class="rb-row"><input type="text" id="alipay" placeholder="支付宝号" class="input" value="{$profile['alipay']}"/></p>
		<p class="rb-row"><input type="text" id="wxhao" placeholder="微信支付号码" class="input" value="{$profile['wxhao']}"/></p>
		{/if}-->
	
		<div class="rb-row registerRuleBox border-box">
				<p class="rb-submit"><input type="button" value="确定" class="btn" id="J_submitReg"   /></p>
			<!--<hr>
			<h1>注册条款</h1>
			<div class="rule-text">
				{$rule['terms']}
			</div>-->
			<p class="rb-submit" style="margin-top:20px;;"><input type="button"  style="background:#f00;" value="添加收货地址" class="btn " onclick="location.href='{php echo $this->createMobileUrl('address',array('from'=>'confirm','returnurl'=>urlencode($returnurl)))}'"> </p>
		</div>
</section>
{template 'footer'}
 <div class="wx_nav"><a href="{php echo $this->createMobileUrl('list')}" data-href="###" ptag="37080.1.1" class="nav_index on">首页</a><a href="{php echo $this->createMobileUrl('listCategory')}"  ptag="37080.1.2" class="nav_search" style="display:">分类</a><a href="{php echo $this->createMobileUrl('mycart')}"  ptag="37080.1.3" class="nav_shopcart">购物车</a><a href="{php echo $this->createMobileUrl('myorder')}"  ptag="37080.1.4" class="nav_me">我的订单</a><!--<a href="{$ydyy}"  ptag="37080.1.4" class="nav_fav">一键关注</a>--></div> 
<script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
<script src="{BJ_QMXK_ROOT}/style/js/com.js"></script>
	<script language="javascript">
        setup() 
    </script>
<script>
//注册粉丝信息
$("#J_submitReg").live("click", function () {
	var reg = /^1[3|4|5|7|8]\d{9}$/;
	var bank = /^\d*$/g;

	realname = $("#realname").val();
	mobile 	 = $("#mobile").val();
	password = $("#password").val();
	qq=$("#qq").val();
	alipay 	 = '';
	wxhao 	 = '';
	banktype = '';
	bankcard = '';
	province = '';
	city = '';
	county = '';
	bankperson = '';
	bankbelong = '';
	if('{$opp}'=='complate'){
		alipay = $("#alipay").val();
		wxhao = $("#wxhao").val();
		banktype = $("#banktype").val();
		bankcard = $("#bankcard").val();
		province = $("#province").val();
		city = $("#city").val();
		county = $("#county").val();
		bankperson = $("#bankperson").val();
		bankbelong = $("#bankbelong").val();
	}

	if (realname == "") {
		TopBox.alert("姓名不能为空!");
		return;
	} else if (!reg.test(mobile)) {
		TopBox.alert("手机格式不正确!");
		return;
	//}else if (password == "") {
		//TopBox.alert("密码不能为空!");
		//return;
	//}else if (password.length < 6) {
		//TopBox.alert("密码至少为6位!");
		//return;
	}else {
		$.ajax({
			type: "POST",
			url: "{php echo $this->createMobileurl('register',array('op'=>'add'))}",
			
			data: { realname:realname, mobile:mobile, banktype:banktype, bankcard:bankcard, password:password, alipay:alipay, wxhao:wxhao, province:province, city:city, county:county, bankperson:bankperson, bankbelong:bankbelong,qq:qq },
			dataType: "text",
			success: function (d) {
				d = d.replace(/\s+/g,""); 
				if (d == "1") {
					TopBox.alert("粉丝注册成功.", function () { window.location.href = '{php echo $this->createMobileurl(empty($fromaction)?'fansindex':$fromaction)}'; });
				} else if (d == "2") {
					TopBox.alert("修改资料成功.", function () { window.location.href = '{php echo $this->createMobileurl(empty($fromaction)?'fansindex':$fromaction)}'; });
				} else if (d == "0") {
					TopBox.alert("粉丝注册失败.");
				} else if (d == "-2") {
					TopBox.alert("请勿重复注册粉丝.");
				} else if (d == "-3") {
					TopBox.alert("已存在该手机号码.");
				} else {
					TopBox.alert("信息填写不正确.");
				}
			},
			
			error: function (xml, text, thrown) {
				TopBox.alert("出错啦!");
			}
		});

	}
});

</script>

{template 'jsweixin'}
</body>
</html>