{template 'common/header'}
{template 'common'}
<script type="text/javascript" src="./resource/script/jquery-ui-1.10.3.min.js"></script>
<ul class="nav nav-tabs">
	<li {if $operation != 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('dailyshare')}">分享记录</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('points_record', array('op' => 'display'))}">积分记录</a></li>
</ul>
<div class="main">
	<div class="search">
	</div>
	<div style="padding:15px;">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:400px;">分享者昵称</th>
					<th style="min-width:400px;">分享模块</th>
					<th style="width:300px;">分享类型</th>
					<th style="width:400px;">分享标题</th>
					<th style="width:400px;">分享时间</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td><a href="{php echo $this->createWebUrl('fansmanager',array('op'=>'member','id' => $item['mid']));}">{$item['realname']}</a></td>
					<td>{$item['model']}</td>
					<td>
					{if $item['share_type']==1}微信好友{/if}
					{if $item['share_type']==2}微信朋友圈{/if}
					{if $item['share_type']==3}QQ{/if}
					{if $item['share_type']==4}微博{/if}
					</td>
					<td>{$item['title']}</td>
					<td>{$item['sharetime']}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{template 'common/footer'}