{template 'common/header'}
<style>
.ym{width:107px;height:80px;border:1px solid grey;float:left;}
.ym h5{text-align:center;margin: 0px !important;background-color: #438EB9;}
.ym #y,#m{overflow:auto;height:60px; }
.ym p{text-align:center;}
.actived {background: grey;}
.noactive {background:;}
</style>
<ul class="nav nav-tabs">
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('profit');}">总代奖金表</a></li>
	<!--<li {if $op == 'list'}class="active"{/if}><a href="{php echo $this->createWebUrl('profit',array('op'=>'list'));}">可分奖金总代审核</a></li>-->
	<li {if $op == 'tj'}class="active"{/if}><a href="{php echo $this->createWebUrl('profit',array('op'=>'tj'));}">奖金统计</a></li>
</ul>
    <div class="main">
		<div class="stat">

			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						
						<span class="brand" style="color:#D7200B !important;">奖金总数：{$total}元</span>
					</div>
				</div>
			</div>
		</div>
    </div>
<!-- <link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />  2016.4.3 zhongping change the css directory -->
<link type="text/css" rel="stylesheet" href="../addons/bj_qmxk/recouse/css/daterangepicker.css" />
<!-- <script type="text/javascript" src="./resource/script/daterangepicker.js"></script>  2016.4.3 zhongping change the js directory -->
<script type="text/javascript" src="../addons/bj_qmxk/recouse/js/daterangepicker.js"></script>
<script>
$("#months").click(function(){
	$("#sel").toggle();
});

$('#m p').click(function () {
    var f = this;
    $('#m p').each(function () {  this.className = this == f ? 'actived' : 'noactive'   });
});
$('#y p').click(function () {
    var f = this;
    $('#y p').each(function () {  this.className = this == f ? 'actived' : 'noactive'   });
});

function ym(flag,num){
	if(flag=='y'){
		var m= $("#m").val();
		$('#y').val(num);
		$('#months').val(num+'-'+m);
	}else if(flag=='m'){
		var y= $("#y").val();
		$('#m').val(num);
		$('#months').val(y+'-'+num);
	}
	
}

function modify(){
	$("#op").val('modify');
	$('#fm').submit();
}

</script>
<script>
$(function() {
	$('#date-range').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start]').val(),
		endDate: $(':hidden[name=end]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
	});
	$('#date-range1').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start1]').val(),
		endDate: $(':hidden[name=end1]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range1 .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start1]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end1]').val(end.format('YYYY-MM-DD'));
	});
	
});
</script>
{template 'common/footer'}