{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('salesman');}">总代管理</a></li>
	<!--<li {if $op == 'check'}class="active"{/if}><a href="{php echo $this->createWebUrl('salesman', array('op'=>'check'));}">待审核总代</a></li>-->
	<li {if $op == 'allfans'}class="active"{/if}><a href="{php echo $this->createWebUrl('salesman', array('op'=>'allfans'));}">所有粉丝</a></li>
    <li {if $op == 'config'}class="active"{/if}><a href="{php echo $this->createWebUrl('salesman', array('op'=>'config'));}">设置</a></li>
</ul>
    <div class="main">
		<div class="stat">
		
			<form action="">
				<input type="hidden" name="act" value="module" />
				<input type="hidden" name="name" value="bj_qmxk" />
				<input type="hidden" name="do" value="salesman" />
				<input type="hidden" name="op" value="sort" />
				<input type="hidden" name="type" value="ischeck" />
				<table class="table sub-search">
					<tbody>
						<tr>
							<th style="width:100px;">待审核总代姓名</th>
							<td>
								<input name="realname" type="text" value="{$sort['realname']}" />
							</td>
						</tr>
						<tr>
							<th style="width:100px;">手机号码</th>
							<td>
								<input name="mobile" type="text" value="{$sort['mobile']}" />
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<input type="submit" name="" value="搜索" class="btn btn-primary">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="pull-right" style="color:red; padding:10px 10px 0 0;">总数：<?php echo $total;?></span>
						<span class="brand">名单</span>
					</div>
				</div>
				<div class="sub-item" id="table-list">
					<h4 class="sub-title">待审核总代名单</h4>

					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th class="row-hover">会员姓名</th>
									<th class="row-hover">手机号码</th>
									<th class="row-hover">注册时间</th>
								    <th class="row-hover">状态</th>
								  <!--  <th class="row-hover">还需充值</th>-->
								    <th class="row-hover">积分</th>
								      <th class="row-hover">点击数</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
								{loop $list $v}
								<tr>
									<td style="text-align: center;">
										{$v['realname']}
									</td>
									<td style="text-align: center;">
										{$v['mobile']}
									</td>
									<td style="text-align: center;">
										{php echo date('Y-m-d',$v['createtime'])}
									</td>
									<td style="text-align: center;">
									{if $v['issalesman']==0}
										<span class="label label-important">未审核</span>
									{else}
										<span class="label label-success">已审核</span>
									{/if}
									</td>
								  <!-- 		<td style="text-align: center;">
									{if empty($commission[$v['id']])}
										0
									{else}
										{php echo $commission[$v['id']]-$v['commission']}
									{/if}
									</td>-->
										<td style="text-align: center;">
												{if empty($v['credit1'])}
										0
									{else}
												{$v['credit1']}
									{/if}
									</td>
									<td style="text-align: center;">
										{$v['clickcount']}
									</td>
									<td style="text-align: center;">
										<a href="{php echo $this->createWebUrl('salesman',array('op'=>'docheck','id' => $v['id']));}">审核通过</a>
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
					</div>
					</form>
					{$pager}
				</div>
			</div>
		</div>
    </div>

<!-- <link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />  2016.4.3 zhongping change the css directory -->
<link type="text/css" rel="stylesheet" href="../addons/bj_qmxk/recouse/css/daterangepicker.css" />
<!-- <script type="text/javascript" src="./resource/script/daterangepicker.js"></script>  2016.4.3 zhongping change the js directory -->
<script type="text/javascript" src="../addons/bj_qmxk/recouse/js/daterangepicker.js"></script>
<script>
$(function() {
	$('#date-range').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start]').val(),
		endDate: $(':hidden[name=end]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
	});
	$('#date-range1').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start1]').val(),
		endDate: $(':hidden[name=end1]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range1 .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start1]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end1]').val(end.format('YYYY-MM-DD'));
	});

});
</script>
{template 'common/footer'}